.about{
    background-color: #212020;
    width: 100%;
    /* height: 1000vh; */
    
}

.about-hero img{
    width: 500px;
}

.about h1{
    border-bottom: 2px solid #C84B31;
    font-size: 36px;
}

.about .line{
    border-bottom: 2px solid #C84B31;
    font-size: 36px;
}