#app{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #C84B31;
}

.router-link-exact-active{
    font-weight: bold;
    color: #C84B31 !important;
}

.btn{
    cursor: pointer;
    color: #fff; 
    background-color: #C84B31;
    font-weight: 500;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    transition: transform .2s;
    /* cursor: pointer; */
}

.btn:hover{
    background-color: unset !important;
    color: #fff !important;
    border: 1px solid #ff5d3b !important;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}

.link{
    color: #C84B31;
}

.link:hover{
    color: #ff5d3b;
    text-decoration: none;
}

/* Footer */

.footer{
    background-color: #191919;
    padding: 100px 0 10px 0;
    
}

.footer .socmed{
    color: #C84B31;
    font-size: 20px;
    cursor: pointer;
}

.footer .socmed:hover{
    color: #fff;
}

.footer p{
    font-size: 14px;
}

.bold{
    color: #ff5d3b;
}

.portfolio{
    background-color: #212020;
    width: 100%;
}

.portfolio-hero img{
    width: 500px;
}

.portfolio-tittle h3{
    font-size: 26px !important;
}
.portfolio-body span{
    font-size: 13px;
}

.portfolio p{
    letter-spacing: 1px;
    line-height: 26px;
}
.notification{
    border-top: 6px solid #C84B31;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
}

.certificate{
    background-color: #212020;
}


img{
    transition: transform .2s;   
}

img:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.08);
}

.navbar-toggler{
    background-color: #C84B31;
    color: white !important;
}

.navbar-toggler[aria-expanded="true"]{
    background-color: #ff5d3b;
}

.navbar{
    padding-left: 0;
    padding-right: 0;
}


/* Responsive @Tablet Screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .home{
      width: 100%;
      height: 110vh;
      /* position: unset; */
  }
  .hero{
      width: 100%;
      /* height: 85vh; */
  }
   .hero-img{
      width: 260px;
      /* position: unset; */
      /* right: 10% */
   }
   .text-box h1{
       font-size: 32px;
   }
    
   .text-box{
       font-size: 9px;
   }
   .btn{
       font-size: 9px;
   }

   .about-img{
       width: 150%;
   }
   .homeportfolio img{
       width: 150%;
   }
   .homenegotiate{
       height: 130vh;
   }
   .homenegotiate img{
       width: 50%;
       padding: 5% 5% 0 5%;   
   }
   .home h2{
       font-size: 24px;

   }
}

/* Responsive @mobile screen */
@media (min-width: 320px) and (max-width: 480px) {
  
    .hero-img{
        width: 70%;
        /* right: 18%; */
    }
    .text-box{
        font-size: 11px;
    }
    .text-box h1{
        font-size: 45px;
        
    }
    .btn{
        font-size: 9px;
    }
    .about-img{
        width: 100%;
    }

    .homenegotiate{
        height: unset;
        padding-bottom: 100px;
    }
    .homeportfolio img{
        width: 100%;
    }
    .homenegotiate img{
        width: 100%;
    }
    .homenegotiate h2{
        text-align: left;
        font-size: 34px;
    }
    .homenegotiate .btn{
        margin-bottom: 10px;
    }

    .about-hero img{
        width: 100%;
    }

    .portfolio-hero img{
        width: 100%;
    }

    .navbar-nav{
        padding-left: 0;
    }

    .navbar{
        padding-left: 20px;
        padding-right: 10px;
    }

  }


  @media (min-width: 2300px) {
      .content{
          height: 768px;
      }
      .homeabout{
          height: 768px;
      }
      .homeportfolio{
          height: 768px;
      }
      .homenegotiate{
          height: 768px;
      }

  }
